button,
.button,
a.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  appearance: none;
  cursor: pointer;
  outline: none;
}

a.read-more,
a.read-more:hover,
a.read-more:active {
  display: inline-flex;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 20px 0;
  max-width: 100%;
}

