@font-face {
    font-family: 'Fira Code';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(data:application/FiraCode-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Fira Code';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url(data:application/FiraCode-Bold.woff) format("woff");
}
