@font-face {
    font-family: 'Fira Code';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: get_url(path="assets/fonts/FiraCode-Regular.woff2") format("woff2"), get_url(path="assets/fonts/FiraCode-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Fira Code';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: get_url(path="assets/fonts/FiraCode-Bold.woff2") format("woff2"), get_url(path="assets/fonts/FiraCode-Bold.woff") format("woff");
}
