@import "variables";

@mixin menu {
  background: var(--background);
  box-shadow: var(--shadow);
  color: var(--color);
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 1;

    &:after {
      content: '';
      background: repeating-linear-gradient(90deg, var(--accent), var(--accent) 2px, transparent 0, transparent 10px);
      display: block;
      width: 100%;
      right: 10px;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
      text-decoration: none;
    }
  }

  .menu {
    margin: 20px 0;
    --shadow-color: var(--accent-alpha-70);
    --shadow: 0 10px var(--shadow-color), -10px 10px var(--shadow-color), 10px 10px var(--shadow-color);

    @media (max-width: $phone-max-width) {
        @include menu;
        position: absolute;
        top: 50px;
        right: 0;
    }

    &__inner {
      // @include menu;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      &--desktop {
          @media (max-width: $phone-max-width) {
              display: none;
          }
      }

      &--mobile {
        display: none;

        @media (max-width: $phone-max-width) {
          display: block;
        }
      }

      li {
        // &.active {
        //   color: var(--accent-alpha-70);
        // }
        &:not(:last-of-type) {
          margin-right: 20px;
          margin-bottom: 10px;
          flex: 0 0 auto;
        }
      }

      @media (max-width: $phone-max-width) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        li {
          margin: 0;
          padding: 5px;
        }
      }
    }

    &__sub-inner {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(:only-child) {
        margin-left: 20px;
      }

      &-more {
        @include menu;
        top: 35px;
        left: 0;

        &-trigger {
          color: var(--accent);
          user-select: none;
          cursor: pointer;
        }

        li {
          margin: 0;
          padding: 5px;
          white-space: nowrap;
        }
      }
    }
      
    &-trigger {
      color: var(--accent);
      border: 2px solid;
      margin-left: 10px;
      height: 100%;
      padding: 3px 8px;
      position: relative;
    }
  }
}
