:root {
  // *NOTE*:
  // ------------------------------------------------
  //Keep the same as the values in variables.scss!!!!!
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

$phone-max-width: 683px;
$tablet-max-width: 899px;
