{%- extends "index.html"-%}
{%- block main-%}
    <div class="post">
        <h1 class="post-title">
            tags ∋ #{{ term.name }}
            ({{ term.pages | length }} post{{ term.pages | length | pluralize}})
        </h1>

        <ul>
            {%- for post in term.pages -%}
                <li class="tag-list">
                    {{ post.date | date(format="%Y.%m.%d") }}
                    :: <a href="{{ post.permalink }}">{{ post.title }}</a>
                    :: {% for tag in post.taxonomies["tags"] -%} <a href="{%- set _tag = get_taxonomy_url(kind="tags", name=tag) -%}{{ _tag }}">#{{ tag }}</a> {% endfor %}
                </li>
                {# End of pagination for-loop #}
            {%- endfor -%}
            {#- I don't put pagination here like Terminal does. I don't like how
            the buttons move with the size of post entries in the content div. -#}
        </ul>

</div>
{%- endblock main-%}
