:root {
  // --accent: rgb(120,226,160);
  // --accent-alpha-20: rgba(120,226,160,.2);
  // --accent-alpha-70: rgba(120,226,160,.7);
  --accent: rgb(72, 251, 53);
  --accent-alpha-20: rgba(72, 251, 53,.2);
  --accent-alpha-70: rgba(72, 251, 53,.7);
  --background: #1F222A;
  --color: whitesmoke;
  --border-color: rgba(255, 255, 255, .1);
  --footnote-color: rgba(255, 255, 255, .5);
}
