:root {
  --accent: rgb(79, 172, 168);
  --accent-alpha-20: rgba(79, 172, 168, .2);
  --accent-alpha-70: rgba(79, 172, 168, .7);
  --background: #1C1C1C;
  --color: #DCDCC8;
  --border-color: rgba(255, 255, 255, .1);
}
