:root {
  --accent: rgb(255,168,106);
  --accent-alpha-20: rgba(255, 168, 106, .2);
  --accent-alpha-70: rgba(255, 168, 106,.7);
  --background: #211f1a;
  --color: whitesmoke;
  --border-color: rgba(255, 255, 255, .1);
  --footnote-color: rgba(255, 255, 255, .5);
}
