:root {
  --accent: rgb(238,114,241);
  --accent-alpha-20: rgba(238,114,241,.2);
  --accent-alpha-70: rgba(238,114,241,.7);
  --background: #21202C;
  --color: whitesmoke;
  --border-color: rgba(255, 255, 255, .1);
}

footer {
  .extended_footer {
    img {
      filter: invert(68%) sepia(83%) saturate(2956%) hue-rotate(261deg) brightness(105%) contrast(89%);
    }
  }
}