:root {
  --accent: rgb(255,98,102);
  --accent-alpha-20: rgba(255,98,102,.2);
  --accent-alpha-70: rgba(255,98,102,.7);
  --background: #221F29;
  --color: whitesmoke;
  --border-color: rgba(255, 255, 255, .1);
  --footnote-color: rgba(255, 255, 255, .5);
}
