{% macro copyright() %}
    {%- if config.extra.copyright -%}
        <div class="copyright copyright--user">{{ config.extra.copyright | safe }}</div>
    {%- else -%}
        <div class="copyright">
            <span>© {{ now() | date(format="%Y") }} <a href="https://github.com/ejmg/zerm">zerm</a> :: Powered by <a href="https://www.getzola.org/">Zola</a></span>
            <span>:: Theme made by <a href="https://github.com/ejmg">ejmg</a></span>
        </div>
    {%- endif -%}
{% endmacro copyright %}

{% macro script() %}
    <script type="text/javascript" src="{{ get_url(path="assets/js/main.js") }}"></script>
{% endmacro script %}
