{#- TODO:
- [x] add rss
- [x] favicons
- [x] media preview
- [ ] twitter
- [ ] maybe google adsense
-#}

{% macro styling() %}
    {% if config.extra.inline_css -%}
        {% set styleCSS = load_data(path="public/style.css", format="plain") -%}
        <style>{{ styleCSS | trim | safe }}</style>
    {% else %}
        <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    {% endif %}
    {% set color = config.extra.theme_color | default(value="orange")  -%}
    {% set colorCSS = "color/" ~ color ~ ".css" -%}
    {% if config.extra.inline_css -%}
        {% set colorCSS = load_data(path="public/" ~ colorCSS, format="plain") -%}
        <style>{{ colorCSS | trim | safe }}</style>
    {% else -%}
        <link rel="stylesheet" href="{{ get_url(path=colorCSS) }}">
    {% endif %}
    {%- if config.extra.custom_css is defined -%}
        <link rel="stylesheet" href="{{ get_url(path="custom.css") }}">
    {% endif %}
{% endmacro styling %}

{% macro favicon() %}
    {%- if config.extra.favicon is defined -%}
        <link rel="shortcut icon" href="{{ get_url(path=config.extra.favicon) }}" type="image/x-icon" />
    {%- endif -%}    
{% endmacro favicon %}

{% macro rss() %}
    {%- if config.generate_feed -%}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }} RSS" href="{{ get_url(path=config.feed_filename) }}">
    {%- endif -%}
{% endmacro rss %}

{% macro fonts() %}
    <link rel="preload" href="/assets/fonts/FiraCode-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/FiraCode-Bold.woff2" as="font" type="font/woff2" crossorigin>
{% endmacro fonts %}

{% macro general_meta() %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{ config.description }}"/>
{% endmacro general_meta %}
