{% extends "index.html" -%}

{%- block title %}
    <title>{{ section.title }} - {{ config.extra.author }}</title>
    {# TODO: make some kind of social media linking, i guess? #}
    {#%- include "snippets/social.html" %#}
{%- endblock title -%}

{%- block main -%}
<div class="post">
    <h1 class="post-title">
        <a href="{{ section.permalink  }}">{{ section.title }}</a>
    </h1>
    
    {{ posts::section_meta(section=section, author=config.extra.show_author) }}

    {#- Skipping logic for cover as was in original Terminal theme -#}

    <div class="post-content">
        {{ section.content | safe }}
    </div>
    {# TODO: Decide if any sort of commenting functionality is desired? #}
    {#%- include "snippets/comments.html"  -%#}
</div>
{%- endblock main -%}
